# Don't track changes in to JSON file containing API Key and Token (to prevent someone from accidentally checking in apiKey and token)
trelloAuthSettings.json

# ignore vscode config folder folder
.vscode

# Ignore any VS Code workspaces
*.code-workspace